<div class="center">
       <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&v=20161117&vid=n0669ie6iya&auto=0"
              allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always"
              type="application/x-shockwave-flash"></embed>
</div>